<section class="login-form">
  <form [formGroup]="form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field>
      <input formControlName="email" type="email" matInput placeholder="Your email">
      <mat-error *ngIf="form.get('email').hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="form.get('email').hasError('email')">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" #password type="password" matInput placeholder="Your password">
      <mat-hint>Should be at least 6 characters long</mat-hint>
      <mat-hint align="end">{{password.value.length}}/6</mat-hint>
      <mat-error *ngIf="form.get('password').hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="form.get('password').hasError('minlength')">
        <div fxLayoutAlign="space-between">
          <span>Should be at least 6 characters long</span>
          <span>{{password.value.length}}/6</span>
        </div>
      </mat-error>
    </mat-form-field>
    <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>

